{% extends "base.html" %}

{% block title %}Einloggen{% endblock %}

{% block content %}
<div class="auth-form-container mt-3">
    <h1>Einloggen</h1>
    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Einloggen</button>
    </form>
    <ul class="list-group mt-3 unstyled">
        <li>
            <a href="{% url 'account_signup' %}" class="text-primary">Sie haben noch kein Konto? Konto anlegen</a>

        </li>
    </ul>
    
</div>
{% endblock %}
