{% extends "base.html" %}

{% block title %}Verify Your Email Address{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Verify Your Email Address</h2>
    <p>We have sent you an email for verification. Follow the link provided to finalize the signup process.</p>
    <p>If you do not see the verification email in your main inbox, check your spam folder.</p>
    <p>If you do not receive the verification email within the next 15 minutes, please call us</p>
</div>
{% endblock %}
