# Ignore virtual environment
venv/
.env

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore Django specific files
*.log
db.sqlite3
media/
staticfiles/

#Ignore environment variables
env.py

#Ignore content of the manual
/manual/content/

