{% extends "base.html" %}
{% block title %}Dashboard - Zinc-Flake Coatings Manual{% endblock %}
{% block content %}
<main class="container mt-3">
    <!-- Welcome Message -->
    <div class="row">
        <div class="col-12 text-center"> <!-- Full-width and centered text -->
            <h2>Hallo, {{ user.first_name }}</h2>
            <p>Hier können Sie Ihre Favoriten und Kommentare verwalten und Inhalte durchsuchen.</p>
        </div>
    </div>
    <div class="row">
        <!-- Navigation Sidebar -->
        <div class="col-md-3 mb-4 mb-md-0">
            <ul class="list-group">
                <li class="list-group-item"><a href="#" data-bs-toggle="modal" data-bs-target="#manualIndexModal">Handbuch Verzeichnis</a></li>
                <li class="list-group-item"><a href="#favourites">Meine Favoriten</a></li>
                <li class="list-group-item"><a href="#comments">Meine Kommentare</a></li>
            </ul>
        </div>

        <!-- Dashboard Content -->
        <div id="dashboard-content" class="col-md-9">

            <!-- Favourites Section -->
            <div id="favourites" class="section mt-8">
                <h3>Meine Favoriten</h3>
                {% if favourite_sections or favourite_subsections %}
                    <div class="accordion" id="favouritesAccordion">
                        {% if favourite_sections %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSections">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSections" aria-expanded="true" aria-controls="collapseSections">
                                    Favorisierte Kapitel
                                </button>
                            </h2>
                            <div id="collapseSections" class="accordion-collapse collapse show" aria-labelledby="headingSections" data-bs-parent="#favouritesAccordion">
                                <div class="accordion-body">
                                    <ul class="list-group">
                                        {% for favourite in favourite_sections %}
                                        <li class="list-group-item"><a href="{{ favourite.section.get_absolute_url }}">{{ favourite.section.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if favourite_subsections %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSubsections">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSubsections" aria-expanded="false" aria-controls="collapseSubsections">
                                    Favorisierte Unterkapitel
                                </button>
                            </h2>
                            <div id="collapseSubsections" class="accordion-collapse collapse" aria-labelledby="headingSubsections" data-bs-parent="#favouritesAccordion">
                                <div class="accordion-body">
                                    <ul class="list-group">
                                        {% for favourite in favourite_subsections %}
                                        <li class="list-group-item">
                                            <a href="{{ favourite.subsection.get_absolute_url }}">
                                            {{ favourite.subsection.title }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                {% else %}
                <p>You have no favourites.</p>
                {% endif %}
            </div>

            <!-- Comments Section -->
            <div id="comments" class="section mt-4">
                <h3>Meine Kommentare</h3>
                {% if comments %}
                <ul class="list-group">
                    {% for comment in comments %}
                    <li class="list-group-item">Kommentar auf <a href="{{ comment.subsection.get_absolute_url }}">{{ comment.subsection.title }}</a>: "{{ comment.content }}"</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>Sie haben keine Kommentare geschrieben.</p>
                {% endif %}
            </div>
        </div>
    </div>
</main>

<!-- Manual Index Modal -->
<div class="modal fade" id="manualIndexModal" tabindex="-1" aria-labelledby="manualIndexModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="manualIndexModalLabel">Handbuch Verzeichnis</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    {% for section in sections %}
                    <li class="list-group-item"><a href="{% url 'section_detail_accordion' section.id %}">{{ section.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
