.table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Enables smooth scrolling on iOS */
    display: flex;
    flex-direction: column;
}

.table-container::-webkit-scrollbar {
    height: 8px; /* Adjust the height of the scrollbar */
}

.table-container::-webkit-scrollbar-thumb {
    background: #d8462d; /* Change the color of the scrollbar thumb */
    border-radius: 4px; /* Add some rounding to the scrollbar thumb */
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    padding: 8px;
    border: 1px solid #dddddd;
    white-space: nowrap; /* Prevent text from wrapping */
}

.table-container thead tr {
    background-color: #d8462d;
    color: white;
}

.table-container tbody tr {
    background-color: #eeeeee;
}

.table-container th:first-child, .table-container td:first-child {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    left: 0;
    background: #d8462d; /* Same background as the header */
    color: white; /* Ensuring the text is readable */
    z-index: 2; /* Ensuring the first column stays on top */
}

@media (max-width: 768px) {
    .table-container th, .table-container td {
        font-size: 12px; /* Adjust font size for smaller screens */
    }
}

.table-container.scrollable::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 15px; /* Adjust the width as needed */
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.1)); /* Subtle shadow effect */
    pointer-events: none; /* Allow clicks to pass through */
}
