section {
  margin-bottom: 2em;
  padding: 1em;
}

details {
  margin-bottom: 1em;
}

summary {
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.5em;
}

a {
  color: var(--highlight-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

table, th, td {
  border: 1px solid var(--medium-gray);
}

th, td {
  padding: 0.5em;
  text-align: left;
}

th {
  background-color: var(--light-gray);
}

/* Responsive Styles */
@media (max-width: 768px) {
  th, td {
    display: block;
    width: 100%;
  }
  table {
    border: 0;
  }
  table, th, td {
    border: none;
  }
  th, td {
    padding: 1em;
    text-align: left;
  }
  th {
    background-color: transparent;
    font-weight: bold;
  }
}