/* General styles for the main section */
#section-2 {
    font-family: var(--font-family);
    line-height: 1.6;
    margin: 20px;
    background-color: var(--background-gray);
    color: var(--primary-color);
}

/* Styling for section headers */
#section-2 h2, #section-2 h3 {
    color: var(--primary-color);
    font-size: 1.5rem; /* Adjusting font size based on root font size */
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Styling for subsection headers */
#section-2 h4 {
    color: var(--highlight-color);
    font-size: 1.25rem; /* Adjusting font size based on root font size */
    margin-top: 15px;
    margin-bottom: 10px;
}

/* Styling for paragraphs */
#section-2 p {
    color: var(--primary-color);
    margin-bottom: 10px;
}

/* Styling for blockquotes */
#section-2 blockquote {
    border-left: 4px solid var(--light-gray);
    padding-left: 10px;
    color: var(--medium-gray);
    font-style: italic;
    margin: 10px 0;
}

/* Styling for unordered lists */
#section-2 ul {
    list-style-type: disc;
    margin-left: 20px;
    color: var(--primary-color);
}

/* Styling for list items */
#section-2 ul li {
    margin-bottom: 5px;
}