.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;
}

.content {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--primary-color);
    background-color: var(--background-gray);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--primary-color);
    border-bottom: 2px solid var(--highlight-color);
    padding-bottom: 10px;
}

.content p {
    margin-bottom: 15px;
    color: var(--primary-color);
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .guidelines-content h1 {
        font-size: 1.5em;
    }

    .guidelines-content p {
        font-size: 1em;
    }
}

/* Custom styles for accordion */
.accordion-header {
    border-bottom: 1px solid var(--light-gray);
}

.accordion-button {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.accordion-button:not(.collapsed) {
    color: var(--primary-color);
    background-color: var(--background-gray);
}

.accordion-button.collapsed {
    color: var(--primary-color);
    background-color: var(--background-gray);
}

.accordion-button.collapsed::after {
    filter: invert(0);
}

.favourite-icon {
    margin-left: 15px; /* Increase spacing between title and icon */
    text-decoration: none; /* Remove underline */
}

.favourite-icon .far.fa-star {
    color: var(--medium-gray); /* Color for not liked icon */
}

.favourite-icon .fas.fa-star {
    color: var(--highlight-color); /* Color for liked icon */
}